h1{
  color: #3330E4;
  text-align: center;
  font-family: cursive;
}
p{
  color:black;
  text-align: center;
  font-family:;
}
img{
  text-align: center;
}
h3{
  color: #A149FA;

  font-family: monospace;
}
li{
  color: #3EC70B;
  font-family: sans-serif;
}
