.parent{
  position: relative;
  width: 353px;
  height: 400px;
  background-color: red;
}
.child{
  position:absolute;
  right: 51px;
  top: 82px;
  width: 236px;
  height: 232px;
  background-color: blue;


}
section{
  background-color: pink;
}
