header{
  background-color: #c4fb6d;
}
.wrap{
  max-width: 1140px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0 50px;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
}
.main-head {
    width: 100%;
}
.clearfix {
    clear: both;
    content: "";
    display: table;
}
.left {
    float: left;
    padding-top: 13px;
    padding-bottom: 10px;
}
.right {
    float: right;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.right ul li {
    display: inline-block;
    padding: 10px 15px 5px 15px;

    font-size: 17px;
    font-family: Montserrat;
}
.right a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: #000;
}
.right a:hover{
  color: white;
}
.banner {
    position: relative;
}
.banner img {
    width: 100%;
    height: 500px;
}
.banner-contener{
  position: absolute;
    transform: translate(59%, -197%);
    font-size: 33px;
    font-family: Montserrat;
    color: #fff;
    : 0 0 0.8em #ffffff, 0 0 0.6em #e4e3e3;
}
.wrap2{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 50px;
}
h1{
  font-size: 1.5em;
margin-block-start: 0.83em;
margin-block-end: 0.83em;
}
.card-setion{
  margin: 30px 0;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
}
.wrap2{
  max-width: 1140px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0 50px;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
}

.row {
  width: 100%;
}
.clearfix {
    clear: both;
    content: "";
    display: table;
  }

.Column {
    width: 23%;
    float: left;
    text-align: center;
    background-color: #c4fb6d;
    margin: 11px;
    margin-top: 11px;
    margin-right: 11px;
    margin-bottom: 11px;
    margin-left: 11px;
}
div {
    display: block;
}
.Column img {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 50px;
}
.image-boder{
  border-top: 5px solid white;
    border-top-width: 18px;
    border-top-style: solid;
    border-top-color: white;
}
.card-para{
  padding: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    font-family: 'Space Mono', monospace;
    color: black;

}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.extra{
  margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.wrap2{
  max-width: 1140px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0 50px;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
}
.section-title {
    text-align: center;
}
.section-heading {
    padding-top: 96px;
    padding-bottom: 20px;
    font-weight: bold;
}
.section-para {
    padding-bottom: 20px;
    font-family: Montserrat;
    color: black;
}
.section-column {
    width: 23%;
    float: left;
    margin: 11px;
    margin-top: 11px;
    margin-right: 11px;
    margin-bottom: 11px;
    margin-left: 11px;
}
.image-section-trending {
    width: 100%;
    border-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}
.image-heading {
    font-family: Merriweather;
    padding: 10px 0;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}
.image-content {
    font-family: Montserrat;
}
.property {
    background-color: #c4fb6d;
}
.wrap2{
  max-width: 1140px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0 50px;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
}
.description {
    text-align: center;
}
.property-heading {
    padding-top: 70px;
    padding-bottom: 20px;
}
h2 {
    padding-top: 30px;
    font-family: Montserrat;
    font-weight: 900;
}
.property-para {
    padding-top: 10px;
    font-size: 20px;
    font-family: Montserrat;
    color: black;
}
.property-row{
  width: 100%;
}
.clearfix{
  clear: both;
    content: "";
    display: table;
}
.property-column{
  width: 31.33%;
    float: left;
    margin: 11px;
    margin-top: 11px;
    margin-right: 11px;
    margin-bottom: 11px;
    margin-left: 11px;
}
.property-image{
  width: 100%;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.property-row-para{
  text-align: left;
    padding-top: 10px;
    font-size: 17px;
    font-family: Montserrat;
    color: black;
}
.our-company{
  margin-bottom: 90px;
}
.wrap2{
  max-width: 1140px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0 50px;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
}
.company-description{
  text-align: center;
margin-top: 80px;
margin-bottom: 40px;
}
.company-description-para{
  padding-top: 10px;
    font-size: 17px;
    font-family: Montserrat;
    color: black;
}
.our-company-row{
  width: 100%;
}
.clearfix{
  clear: both;
    content: "";
    display: table;
}
.our-company-column{
  width: 48%;
    float: left;
    margin: 0 8px;
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 8px;

}
.g{
  line-height: 1.5;
    font-family: Montserrat;
    font-size: 15px;
    color: black;
}
.list{
  margin-top: 15px;
    padding-left: 0;
}
.arrow-point{
  float: left;
    height: 17px;
}
ul{
  display: block;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;

}
.points{
  padding-left: 30px;
  color: black;
}
.list li{
  list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    margin-top: 10px;
}
li{
      text-align: -webkit-match-parent;
}
.myButton{
  box-shadow: 1px 11px 17px -6px #3e7327;
    background: linear-gradient(to bottom, #c5fb6d 5%, #578540 100%);
    background-image: linear-gradient(rgb(197, 251, 109) 5%, rgb(87, 133, 64) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #c5fb6d;
    background-color: green;
    border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid #4b8f29;
    border-top-color: rgb(75, 143, 41);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(75, 143, 41);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(75, 143, 41);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(75, 143, 41);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 11px 23px;
    padding-top: 11px;
    padding-right: 23px;
    padding-bottom: 11px;
    padding-left: 23px;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-shadow: -1px 2px 0px #5b8a3c;
    margin-top: 10px;
}

.myButton:hover {
 background: linear-gradient(rgba(135, 216, 70, 1), #77d42a);

}
.our-company-column{
  width: 48%;
    float: left;
    margin: 0 8px;
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 8px;
}
.our-company-image{
  margin-top: 20px;
    height: 296px;
}
.footer-backgraound{
  background-color: #000000;
padding-top: 20px;
padding-bottom: 20px;
}
.wrap2{
  max-width: 1140px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0 50px;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
}
.clearfix {
    clear: both;
    content: "";
    display: table;
}
.row-footer {
    width: 100%;
}
.column-footer{
  width: 23%;
    float: left;
    margin: 11px;
    margin-top: 11px;
    margin-right: 11px;
    margin-bottom: 11px;
    margin-left: 11px;
}
.adress{
  font-family: Merriweather;
    font-size: 12px;
    line-height: 3;
    color: #ffffff;
}
.cpny-phn{
  font-family: Merriweather;
    font-size: 12px;
    line-height: 3;
    color: #ffffff;
}
.footer-list {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 1.5;
}
.footer-links {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-family: Montserrat;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}
p{
  color: white;
}
h5{
  color: blue;
}
